<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

		<title>POLARIS</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript for Bootstrap4 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div id="wrap-main">
				<img src="{{ url_for('static', filename='img/polaris-logo.png') }}">
				<div style="height:30px;"></div>
				<form action="{{ url_for('search') }}" method="post" id="search-form">
					<input type="text" placeholder="Enter keyword..." name="keyword"/>
					<input type="submit" class="fa" value="&#xf002;"/>
				</form>
			</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<p>Social Computing Lab.</p>
		</footer>
	</body>
</html>
